.text h3{
    margin: 0;
}

.text p{
    margin: 3px 0;
}

.small {
    font-size: 12px;
    opacity: 0.8;
}

.badge{
    background:#2ecc71;
    color: white;
    padding: 3px 7px;
    border-radius: 5px;
    font-size: 12px;
}

.info-box {
    width: 90%;
    margin: auto;
    background: white;
    border-radius: 12px;
    padding: 8px;
    box-shadow: 0 3px 10px rgba(0,0,0,0,1);
}

.info-box h3{
    margin: 0 0 8px;
}
.core-section{
    width: 90%;
    margin: 25px auto;
}


button {
    padding: 8px 18px;
    border: none;
    border-radius: 20px;
    background: white;
    cursor: pointer;
    font-weight: bold;
    color: #333;


}

